<nav class="navbar navbar-expand-sm navbar-dark bg-dark mr-auto ml-auto fixed-top">
  <a routerLink="/home" class="navbar-brand ml-4"><i class="fas fa-store-alt mr-1"></i>Shop</a>

  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/products" class="nav-link">Ürünler</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link" href="#">İletişim</a>
      </li>
    </ul>
    <a href="#" class="text-primary my-2 my-lg-0" [ngClass]="{'mr-3': cartSize==0}"> <i
        class="fas fa-shopping-cart"></i></a><span *ngIf="cartSize > 0" class="badge badge-primary rounded"
      [ngClass]="{'mx-2': cartSize>0}">{{cartSize}}</span>
    <a href="#" class="text-primary my-2 my-lg-0" [ngClass]="{'mr-3': wishSize==0}"> <i
        class="fas fa-heart text-danger"></i></a><span *ngIf="wishSize > 0" class="badge badge-danger rounded"
      [ngClass]="{'mx-2': wishSize>0}">{{wishSize}}</span>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>