<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-danger" *ngIf="cartProducts.length==0">Cart is empty</div>
                <table *ngIf="cartProducts.length>0" class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">img</th>
                            <th scope="col">Product</th>
                            <th scope="col">Count</th>
                            <th scope="col">Price</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartProducts">
                            <td><img alt="" class="img-thumbnail size p-0" src="{{item.product.img}}" /></td>
                            <td><a [routerLink]="[ '/products', item.product.seoUrl ]"
                                    class="text-dark">{{item.product.productName}}</a></td>
                            <td><button class="btn btn-sm"
                                    (click)="decreaseCartProduct(item)">-</button><span class="count">{{item.count}}</span>
                                <button class="btn btn-sm" (click)="increaseCartProduct(item)">+</button></td>
                            <td><span class="price">{{sum(item)}}</span></td>
                            <td><button class="btn btn-danger cart-remove-btn" (click)="removeCartProduct(item)"><i
                                        class="far fa-trash-alt"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</body>

</html>