<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div *ngIf="products==undefined">Bu kategoriye ait ürün bulunamadı.</div>
  <div class="card-body home-products">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of products">
        <div class="card">
          <div class="card-body">
            <div class="position-absolute favorite-icon"><a href="#" (click)="addToWish($event,product)"  class="text-dark"><i class="fas fa-heart"></i></a>
            </div>
            <a [routerLink]="[ '/products', product.seoUrl ]"><img src="{{product.img}}"
                class="img-fluid w-100 h-100 img border-0" alt="..."></a>
            <a [routerLink]="[ '/products', product.seoUrl ]">
              <p class="text-center card-title">{{product.productName}}</p>
            </a>
            <div class="btn-group d-flex" role="group" aria-label="...">
              <button (click)="addToCart(product)" class="btn btn-secondary"><i class="fab fa-opencart mr-1"></i>Sepet</button>
              <button [routerLink]="[ '/products', product.seoUrl ]" class="btn btn-primary"><i
                  class="fas fa-search mr-1"></i>Detay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>