<div class="accordion" id="accordionExample">
  <div class="card border-0">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link p-0 text-decoration-none text-dark" type="button" data-toggle="collapse"
          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Bilgisayarlar
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body p-0">
        <ul class="list-group">
          <li class="list-group-item bg-light"><a href="" class="text-muted ">Cras justo odio</a></li>
          <li class="list-group-item bg-light"><a href="" class="text-muted ">Dapibus ac facilisis in</a></li>
          <li class="list-group-item bg-light"><a href="" class="text-muted ">Morbi leo risus</a></li>
          <li class="list-group-item bg-light"><a href="" class="text-muted ">Porta ac consectetur ac</a></li>
          <li class="list-group-item bg-light "><a href="" class="text-muted ">Vestibulum at eros</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed p-0 text-decoration-none text-dark" type="button" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Bilgisayarlar
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
          <ul class="list-group">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Laptop</a>
            </li>
          </ul>
        </div>
        <div class="row">
          <br>
          <ul class="list-group">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tablet</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>